html,
body,
div,
span,
h1,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html {
  height: 100%;
}
body {
  line-height: 1;
  height: 100%;
}
ol,
ul {
  list-style: none;
}

@font-face {
  font-family: "Proxima Nova Condensed";
  src: local("Proxima Nova Condensed"),
    url("../fonts/proximanovacond_regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Proxima Nova Condensed";
  src: local("Proxima Nova Condensed"),
    url("../fonts/proximanovacond_bold.ttf") format("truetype");
  font-weight: bold;
}

.wrapper {
  font-family: Arial;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
}

h1 {
  font-family: "Proxima Nova Condensed";
  font-style: normal;
  font-weight: 900;
  font-size: 34px;
  line-height: 38px;
  text-align: center;
  color: #000000;
  margin-bottom: 60px;
}

.flex {
  &__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 770px;
    margin-bottom: 50px;
  }
  &__element {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    padding: 30px 50px;
    box-sizing: border-box;
    background: #ffffff;

    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.09),
      0px 3px 19px rgba(51, 51, 51, 0.04);
    border-radius: 3px;
  }
}

.modal__box {
  position: relative;
  max-width: 65%;
  min-width: 670px;
  background: #ffffff;
  box-shadow: 0px 0px 12px rgba(46, 45, 61, 0.18),
    0px 16px 80px rgba(0, 0, 0, 0.04);
  border-radius: 6px;
  margin-bottom: 50px;
  padding: 34px 36px;
}

.cross {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 15px;
  height: 15px;
  background: url("../images/cross.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.form {
  width: 100%;
  &__container {
    display: flex;
    flex-grow: 1;
    padding: 35px;
  }
  &__image {
    margin: 0 auto;
    width: 100%;
    max-height: 200px;
    display: flex;
    justify-content: center;
  }
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.terms {
  font-size: 12px;
  line-height: 18px;
  color: #999999;
}

.input-text {
  height: 50px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 18px;
  &::placeholder {
    color: #b3b3b3;
  }
  &::after {
    content: "test string";
  }
}
.input-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.invalid {
  border: 1px solid red;
}

label {
  position: relative;
  margin: 20px 0 20px 0;
  padding-left: 30px;
}

.input-checkbox {
  & + label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #0f8fee;
    background-repeat: no-repeat;
    background-position: center center;
  }
  &:checked + label::before {
    content: "";
    background-color: #0f8fee;
    background-image: url("../images/cheched.svg");
    background-size: 15px 15px;
  }
}

.button {
  padding: 12px 25px;
  width: 45%;
  min-width: 170px;
  height: 45px;
  background: #2998ff;
  border: 1px solid #0f8fee;
  border-radius: 3px;
  color: #fff;
  &:active {
    background: #0070c1;
    border: 1px solid #0f8fee;
    box-shadow: inset 0px 3px 0px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}

.error {
  border: 1px solid red;
}

.errorMessage {
  margin-bottom: 10px;
  color: red;
  margin-top: 5px;
  margin-left: 5px;
}

@media (max-width: 1020px) {
  .wrapper {
    margin-top: 50px;
  }

  .preview_image {
    width: 90%;
    height: 200px;
  }
  .flex__element {
    width: 60%;
    margin-bottom: 50px;
  }
  .flex__container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }

  .button {
    width: 70%;
  }
}

@media (max-width: 700px) {
  .flex__element {
    width: 80%;
    min-width: 250px;
    min-height: 250px;
  }

  .terms {
    order: 3;
  }

  .form {
    order: 2;
    width: 100%;
    &__image {
      order: 1;
      width: 90%;
      height: auto;
      max-height: 500px;
    }
    &__container {
      display: flex;
      flex-direction: column;
      padding: 0;
    }
  }

  h1 {
    font-size: 26px;
    margin-bottom: 25px;
  }

  .terms {
    width: 100%;
  }

  .modal__box {
    max-width: 90%;
    min-width: 0;
    padding: 10px;
    box-sizing: border-box;
  }

  .input-text {
    width: 90%;
    min-width: 100px;
    padding: 5px;
    height: 30px;
  }

  .input-checkbox {
    margin-bottom: 0;
  }

  .button {
    width: 90%;
  }
}
